body {
    margin: 0;
    padding: 20px;
}
.news-image-cell {
    width: 20%;
    padding: 0;
}
.news-image {
    width: 100%;
    height: auto;
    display: block;
}
.news-content-cell {
    width: 60%;
    padding: 15px;
}
.news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}
.news-meta {
    font-weight: bold;
    color:blueviolet;
}
.news-category {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}
.news-description {
    font-size: 14px;
    color: #666;
}